body, #preso, .slide {
  /*background-color: black;*/
  /*color: #ffffff;*/
  border: none;
  margin: none;
}

#footer {
    display: none;
}

.content {
    margin-top: 100px;
}

/*a { text-decoration: none; color: #ffffff; }*/
/*a:visited { text-decoration: none; color: #ffffff; }*/

